@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --accent-green: #1db954;
  --accent-green-hover: #1ed760;
  --accent-green-ring: #1db95433;
  --spotify-black: #191414;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --accent-green: #1db954;
    --accent-green-hover: #1ed760;
    --accent-green-ring: #1db95433;
    --spotify-black: #191414;
  }
}

body {
  background-color: #191414;
  color: rgb(var(--foreground-rgb));
}
